body {
  background-color: #101010;
}

div {
  
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  
}

h4 {
  
}

h5 {
  
}

h6 {
  
}

hr {
  color: #C0C0C0;
}

p {
  padding: 25px;
  text-align: justify;
}

pre {
  
}

.foreground {
  
}

.main {
  background-color: #202020;
  color: #C0C0C0;
  font-family: Georgia, serif;
  margin: auto;
  width: 1200px;
}

.header {
  background-color: #181818;
  color: #C0C0C0;
  font-family: "Trebuchet MS", sans-serif;
  margin: auto;
  text-align: center;
  width: 1200px;
}

.poetry {
  font-family: Times New Roman;
  text-align: center;
}
